<form action="/square_calculation">
  <div>
    <label for="square_calculation_id">
      Enter a number
    </label>
    <input
      id="square_calculation_id"
      type ="text"
      name="square"
      placeholder="What number do you want to take the square of?"
    >
  </div>

  <button
    type="submit" 
    style="display: block; width: 100%; padding: 1em; font-size: 1.2em;">
    Calculate square
  </button>
</form>
