<form action="/square_calculation">
  <label for="dice_number_id">Number of dice to roll?</label>
  <input id="dice_number_id" name="dice">
    
  <label for="side_number_id">How many sides per die?</label>
  <input id="side_number_id" name="sides">
  <button 
    type="submit" 
    style="display: block; width: 100%; padding: 1em; font-size: 1.2em;">
    Roll!
  </button>
</form>
