<form action="/payment/results">
    <label for="apr_id">
      APR
    </label>
    
    <input
      id="apr_id"
      name="user_apr_input"
      placeholder="E.g. 5.42"
    >
    
    <label for="years_id">
      Number of years
    </label>
    
    <input
      id="years_id"
      name="user_years_input"
      placeholder="How many years to repay?"
    >

    <label for="principal_id">
      Principal
    </label>
    
    <input
      id="principal_id"
      name="user_principal_input"
      placeholder="How much principal?"
    >

    <button 
     type="submit" 
     style="display: block; width: 100%; padding: 1em; font-size: 1.2em;">
     Calculate monthly payment
   </button>
  </form>
